@import "partials/clearfix";
@import "partials/reset";

@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');


$topHeaderBackground:#fff;
$mainNavBackground:#3A3A3C;
$articleBackground: #fff;
$plusIconBorder:#F48254;
$textLight: #fff;
$textDark: #3A3A3C;
$textGrey: #808080;
$textRed: #B5442C;
$OswaldFontFamily: 'Oswald', sans-serif;
$LatoFontFamily: 'Lato', sans-serif;
$articleShadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
$navShadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
$articleHoverBorder: #FBB040;


body {
  background-image: url('../assets/bg.jpg');

}

header{

  .top-header{
    background: $topHeaderBackground;
    text-align: center;
    height: 65px;

    .logo{
      float: left;
      display: inline-block;
      position: relative;
      @media(min-width: 550px){
        float: none;
        text-align: center;
        &:after{
          content: '';
          position: absolute;
          background: url('../assets/header_bg.svg');
          height: 10px;
          width: 410px;
          top: 25px;
          bottom: 0;
          right: 0;
          left: -145px;
        }
      }
    }

    .plus-icon{
      display: inline-block;
      border: 1px solid $plusIconBorder;
      height: 32px;
      width: 32px;
      float: right;
      color: $textRed;
      font-weight: 400;
      font-size: 2em;
      margin: 10px 10px 0 0;
    }
  }
  .main-nav{
    background: $mainNavBackground;
    box-shadow: $navShadow;

    ul{
      text-align: center;
    }

    li{
      font-family: $OswaldFontFamily;
      display: inline-block;
      color: $textGrey;
      padding: 15px 20px;
      margin: 0;
      border-sizing: border-box;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      cursor: pointer;

      &:first-child, &:nth-child(2){
        border-right: 1px solid $textGrey;

        @media(min-width:768px) {
          border: none;
        }
      }

    }
  }
}

#main {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px 0 0 0;

      @media(min-width: 700px){
        max-width: 670px;
        margin: auto;
      }

  .articleContainer{
    box-sizing: border-box;
    background: $articleBackground;
    padding: 25px;
    flex: 0 0 90%;
    max-width: 450px;
    height: 400px;
    margin: 20px auto;
    box-shadow: $articleShadow;
    position: relative;

      &:hover {
        outline: 5px solid $articleHoverBorder;
      }

      @media(min-width: 550px){
        flex: 0 0 48%;
      }

    .articleImage{
      height: 225px;
      width: 100%;
      background-size: cover;
    }

    a {
      color: $textDark;
      text-decoration: none;
      h2{
        font-family: $OswaldFontFamily;
        font-size: 1.25em;
        padding: 1.25em 0 0.5em 0;
        line-height: 1.125em;
        &:hover{
          color: $textGrey;
        }
      }
    }

    h3{
      font-family: $LatoFontFamily;
      font-weight: 400;
      color: $textGrey;
      font-size: .875em;
    }
  }
}